<!-- 선호URL -->
<link rel="canonical" href="http://www.cebuwok.com/">

<meta name="description" content="유럽 유명 레스토랑 출신 쉐프의 건강하고 맛있는 음식!">
<meta name="naver-site-verification" content="2d0a03ebb77fac1b492f1b295cece15301c9308a"/>

<!-- 오픈그래프 -->
<meta property="og:type" content="website">
<meta property="og:title" content="세부맛집 웍[WOK RESTAURANT]">
<meta property="og:description" content="유럽 유명 레스토랑 출신 쉐프의 건강하고 맛있는 음식!">
<meta property="og:image" content="http://www.cebuwok.com/img/pages/m-visual_image-2.png">
<meta property="og:url" content="http://www.cebuwok.com">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="세부맛집 웍[WOK RESTAURANT]">
<meta name="twitter:description" content="유럽 유명 레스토랑 출신 쉐프의 건강하고 맛있는 음식!">
<meta name="twitter:image" content="http://www.cebuwok.com/img/pages/m-visual_image-2.png">
<meta name="twitter:domain" content="http://www.cebuwok.com">

<meta name="facebook:card" content="summary">
<meta name="facebook:title" content="세부맛집 웍[WOK RESTAURANT]">
<meta name="facebook:description" content="유럽 유명 레스토랑 출신 쉐프의 건강하고 맛있는 음식!">
<meta name="facebook:image" content="http://www.cebuwok.com/img/pages/m-visual_image-2.png">
<meta name="facebook:domain" content="http://www.cebuwok.com">

<!-- 채널노출 -->
<span itemscope="" itemtype="http://schema.org/Organization">
 <link itemprop="url" href="https://www.cebuwok.com">
 <a itemprop="sameAs" href="https://www.facebook.com/restaurantwok/"></a>
</span>

<!-- 구글애널리틱스 -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131161114-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131161114-1');
</script>
